// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

@import 'footer';


/*
 * Globals
 */

 // Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-color: #1e4949;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;

  display: -ms-flexbox;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;

}

.masthead-brand {
  margin-bottom: 0;
  font-family: 'Abril Fatface', cursive;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(249, 245, 245, 0.71);
  background-color: transparent;
  border-bottom: .25rem solid transparent;

    margin-right: auto;
    margin-left: auto;
    font-family: 'Nunito', sans-serif;

    font-size: 13px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover-heading{
  font-weight: bold;
}

/* this setting is for the background image women image to be specific*/
.background-img{
  background-image: url('/storage/images/contact-us-opacity-3.jpg');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

h5{
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: #d77464;
    border-color: #d77464;
}

.card-body > p {
    text-align: center;
}

p{
    color:black;
}

p > a{
    color: black;
}

p >a:hover {

    color: #1e4949;
}

.card-header{

color: black;
font-size: large;
font-weight: bold;
    
}
.card{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff91;
}

.card-title {
    border-bottom: 1px solid #e4dcdc;
}